*{
    margin: 0px;
    padding: 0px;
}
.outerbox{
    height: 80px;
    width: 100%;
    background:#0C3C60;
    display: flex;
    justify-content: space-between;
    color: #D8F3D6;
}
.leftbox{
    height: 80px;
    width: 200px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-style:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.rightbox{
    height: 80px;
    width: 800px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    
}
.rightbox ul{
    list-style: none;
   display: flex;
   justify-content: space-evenly;
   width: 800px;
}
.rightbox a{
    color:#D8F3D6;
    text-decoration: none;
    
}
.rightbox a:hover{
    color: #84beed;
}
.main{
    height:682px ;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../images/bg.jpg");
}
.smallbox {
    height:300px;
    width: 780px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #0C3C60;
    
    }
    .main img {
        height: 682px;
        width:100%;
    }
    .smallbox h2 {
        font-size: 26px;
        
    
    }
    .smallbox h1 {
        font-size: 60px;
    }
    .smallbox button {
    padding: 22px 56px;
    font-size: 16px;
    border: 1px solid #0C3C60;
    color: #0C3C60;
    font-weight: bold;
    cursor: pointer;
    }
    .smallbox button:hover {
      background: #0C3C60;
      color: #fafbfa;  
    }
    .main2 {
        background-color: #FFFFFF;
        height: 547px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.small1 {
    height:300px ;
    width: 400px;
    /* background-color: #134513; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.small2 {
    height:300px ;
    width: 400px;
    /* background-color: #0a1767; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.small3 {
    height:300px ;
    width: 400px;
    /* background-color: #D8F3D6; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.small1 h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.small2 h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.small3 h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.small1 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.small2 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.small3 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.main2 button{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0C3C60;  
    border: 2px solid #0C3C60; 
}
.main2 button:hover{
    background-color: #FFFFFF;
    color: #0C3C60;
    cursor: pointer;
}
.main2 p{
    line-height: 25px;
}
.main3 {
    height: 639px;
    width: 100%;
    background:linear-gradient(to right , #0c3c609a,#0c3c60a2), url('../images/bg2.jpg');
}
